## Scraping data about astronauts

In [1]:
import requests
import pandas as pd

In [2]:
requests.get("http://api.open-notify.org/iss-now.json")

In [3]:
requests.get("http://api.open-notify.org/iss-pass")

In [4]:
requests.get("http://api.open-notify.org/iss-pass.json")

In [5]:
response = requests.get(
    "http://api.open-notify.org/iss-pass.json",
    params = {"lat" : 45.0, "lon" : -122.3})

In [6]:
response.url

'http://api.open-notify.org/iss-pass.json?lat=45.0&lon=-122.3'

In [7]:
response.content

b'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1600874787, \n    "latitude": 45.0, \n    "longitude": -122.3, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 308, \n      "risetime": 1600903564\n    }, \n    {\n      "duration": 629, \n      "risetime": 1600909160\n    }, \n    {\n      "duration": 650, \n      "risetime": 1600914953\n    }, \n    {\n      "duration": 625, \n      "risetime": 1600920806\n    }, \n    {\n      "duration": 644, \n      "risetime": 1600926642\n    }\n  ]\n}\n'

In [8]:
response.headers

{'Server': 'nginx/1.10.3', 'Date': 'Wed, 23 Sep 2020 15:32:19 GMT', 'Content-Type': 'application/json', 'Content-Length': '519', 'Connection': 'keep-alive', 'Via': '1.1 vegur'}

In [9]:
response.text

'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1600874787, \n    "latitude": 45.0, \n    "longitude": -122.3, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 308, \n      "risetime": 1600903564\n    }, \n    {\n      "duration": 629, \n      "risetime": 1600909160\n    }, \n    {\n      "duration": 650, \n      "risetime": 1600914953\n    }, \n    {\n      "duration": 625, \n      "risetime": 1600920806\n    }, \n    {\n      "duration": 644, \n      "risetime": 1600926642\n    }\n  ]\n}\n'

In [10]:
import json

In [11]:
simple_list = [1,2,3]

In [12]:
simple_list_json = json.dumps(simple_list)

In [13]:
json.loads(simple_list_json)

[1, 2, 3]

In [14]:
response = requests.get(
    "http://api.open-notify.org/iss-pass.json",
    params = {"lat" : 37.78, "lon" : -122.41})

In [15]:
response.headers

{'Server': 'nginx/1.10.3', 'Date': 'Wed, 23 Sep 2020 15:32:19 GMT', 'Content-Type': 'application/json', 'Content-Length': '521', 'Connection': 'keep-alive', 'Via': '1.1 vegur'}

In [16]:
response.text

'{\n  "message": "success", \n  "request": {\n    "altitude": 100, \n    "datetime": 1600875139, \n    "latitude": 37.78, \n    "longitude": -122.41, \n    "passes": 5\n  }, \n  "response": [\n    {\n      "duration": 478, \n      "risetime": 1600903382\n    }, \n    {\n      "duration": 654, \n      "risetime": 1600909071\n    }, \n    {\n      "duration": 583, \n      "risetime": 1600914940\n    }, \n    {\n      "duration": 490, \n      "risetime": 1600920867\n    }, \n    {\n      "duration": 554, \n      "risetime": 1600926723\n    }\n  ]\n}\n'

In [17]:
response_json = response.json()

In [18]:
[i["risetime"] for i in response_json["response"]]

[1600903382, 1600909071, 1600914940, 1600920867, 1600926723]

In [19]:
response = requests.get("http://api.open-notify.org/astros.json")

In [20]:
response_json = response.json()

In [21]:
pd.DataFrame(response_json["people"])

  craft               name
0   ISS      Chris Cassidy
1   ISS  Anatoly Ivanishin
2   ISS        Ivan Vagner